 ion-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
    color: #ffffff; /* Blanco puro */
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); /* Sombra negra para contraste */
    letter-spacing: 1px;
  }
