<!--boton de menu-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Mostrar correo del usuario -->
  <ion-text color="primary">
    <h2>Bienvenido: {{ email }}</h2>
  </ion-text>

  <!-- Formulario de información adicional -->
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nivel de Educación</ion-label>
    <ion-select [(ngModel)]="educacion">
      <ion-select-option value="Basica">Basica</ion-select-option>
      <ion-select-option value="Media">Media</ion-select-option>
      <ion-select-option value="Universitaria">Universitaria</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
  <ion-label position="stacked">Fecha Nacimiento</ion-label>
  <ion-input
    type="date"
    [(ngModel)]="fechaNacimiento">
  </ion-input>
</ion-item>

  <!-- Botones -->
  <ion-button expand="block" color="danger" (click)="limpiarCampos()">Limpiar</ion-button>
  <ion-button expand="block" color="success" (click)="mostrarInfo()">Mostrar</ion-button>
</ion-content>
